<div id="smallModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div id="modalHeader" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modalTITLE"></h4>
            </div>

            <div id="modalCONTENT" class="modal-body text-center"></div>

            <div class="modal-footer">
                <button id="modalNO" type="button" class="btn btn-default" data-dismiss="modal"></button>
                <button id="modalYES" type="button" class="btn btn-primary" data-dismiss="modal"></button>
            </div>
        </div>
    </div>
</div>

<div id="previewModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="previewModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>

            <div class="modal-body text-center">
                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Затвори</button>

            </div>
        </div>
    </div>
</div>