@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Управление на акаунт">Профил</a>
    </li>
    <li class="nav-item">
        <a class="nav-link submit-link" href="#logout-form" title="Изход от акаунт">Изход</a>
    </li>

    <form id="logout-form" class="form-inline" asp-area="Identity" 
          asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">        
    </form>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register" title="Регистрация на нов акаунт">Регистрация</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login" title="Входсъс съществуващ акаунт">Вход</a>
    </li>
}