@{
    Layout = "~/Views/Shared/_LayoutLibrary.cshtml";
}

@section breadcrumb {
    @await RenderSectionAsync("breadcrumb", required: false)
}

<h2>Управление</h2>

<div>
    <h4>Промяна и настройка на потребителският Ви профил</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section scripts {
    @await RenderSectionAsync("scripts", required: false)
}
