@page
@using stranitza.Utility
@model AdminModel

@{
    ViewData["Title"] = "Администрация";
    ViewData["ActivePage"] = ManageNavPages.Admin;
}

@section breadcrumb {
    <a asp-page="Index">Профил</a>

    <span class="separator">/</span>

    <a asp-page="Info">Администрация</a>
}

<partial name="_Messages" />

<div class="row">

    <div class="col-sm-6">
        <ul class="tales-list">
            <li><a asp-action="Index" asp-controller="Categories">Преглед на категории</a></li>
            <li><a asp-action="Create" asp-controller="Categories">Създаване на нова категория</a></li>
            <li><a asp-action="Create" asp-controller="Sources">Създаване на нов източник</a></li>
            @if (User.IsAtLeast(StranitzaRoles.Editor))
            {
                <li><a asp-action="Index" asp-controller="Users">Преглед на потребители</a></li>
            }

            @if (User.IsAtLeast(StranitzaRoles.Administrator))
            {
                <li><a asp-action="Logs" asp-controller="Home" asp-route-preview="true">Преглед на дневен лог</a></li>
                <li><a asp-action="Logs" asp-controller="Home">Сваляне на дневен лог</a></li>
                <li><a asp-action="Logs" asp-controller="Home" asp-route-zipFiles="true">Сваляне на лог (архив)</a></li>
            }
        </ul>
    </div>

    <div class="col-md-6">
        <form asp-page-handler="CreateIssueFromFolder">
            <div class="row">
                <div class="form-group col-xs-3">
                    <label for="releaseNumber" class="control-label">Номер </label>
                    <input name="releaseNumber" id="releaseNumber" class="form-control" type="text" />
                </div>
                <div class="form-group col-xs-9">
                    <label for="releaseYear" class="control-label">и година на издаване</label>
                    <div class="input-group">
                        <input name="releaseYear" id="releaseYear" class="form-control" aria-describedby="calendar-addon" type="text" />
                        <span class="input-group-addon" id="calendar-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="help-block">Възстановяване на брой от файловата система по година и пореден номер.</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 text-right">
                    <input type="submit" value="Възстанови" class="btn btn-tales-one" />
                </div>
            </div>
        </form>
    </div>

</div>