@page
@model ChangePasswordModel

@{
    ViewData["Title"] = "Смяна на парола";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

@section breadcrumb {
    <a asp-page="Index">Профил</a>

    <span class="separator">/</span>

    <a asp-page="ChangePassword">Смяна на парола</a>
}

<partial name="_Messages" />

<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.OldPassword"></label>
                <input asp-for="Input.OldPassword" class="form-control" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="text-right">
                <a asp-controller="Home" asp-action="Index" class="btn btn-default">Отказ</a>
                <button type="submit" class="btn btn-tales-one">Запис</button>
            </div>

        </form>
    </div>

    <div class="col-md-6">
        <p class="help-block">
            <small>
                За да осигурим максимална сигурност на достъпът Ви до сайта изискваме от Вашата парола да съдържа:
            </small>
        </p>

        <ul class="help-block">
            <li><small>поне шест символа</small></li>
            <li><small>поне четири <span class="underlined">различни</span> символа</small></li>
            <li><small>поне една главна буква</small></li>
            <li><small>поне една цифра</small></li>
        </ul>

        <p class="help-block"><small>Моля, не използвайте пароли, които използвате и другаде.</small></p>
        <p class="help-block"><small>Паролата Ви е ключът за достъп до сайта, пазете я в тайна!</small></p>
    </div>
</div>

@section scripts {
    <partial name="_ValidationScripts" />
}
