@page
@model DownloadPersonalDataModel

@{
    ViewData["Title"] = "Изтегляне на лични данни";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

@section breadcrumb {
    <a asp-page="Index">Профил</a>

    <span class="separator">/</span>

    <a asp-page="PersonalData">Лични данни</a>

    <span class="separator">/</span>

    <a asp-page="DownloadPersonalData">Изтегляне</a>
}

<partial name="_Messages" />

@section scripts {
    <partial name="_ValidationScripts" />
}