@page
@model PersonalDataModel

@{
    ViewData["Title"] = "Вашите данни";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

@section breadcrumb {
    <a asp-page="Index">Профил</a>

    <span class="separator">/</span>

    <a asp-page="PersonalData">Лични данни</a>
}

<partial name="_Messages" />

<div class="row">
    <div class="col-md-6">

        <form id="download-personal-data" asp-page="DownloadPersonalData" method="post" class="form-group text-right">

            <p>Вашият потребителски акаунт съдържа лични данни, които сте ни предоставили. Тази страница Ви позволява да изтеглите или изтриете тези данни.</p>

            <a href="#download-personal-data" class="submit-link">
                <img src="@Url.Content("~/images/json-file.png")" class="img-responsive pull-right" alt="Сваляне на лични данни в JSON формат" />
            </a>
        </form>

        <hr />

        <div class="text-right">
            <a asp-controller="Home" asp-action="Index" class="btn btn-default">Отказ</a>
            <a asp-page="DeletePersonalData" class="btn btn-tales-one">Изтриване</a>
        </div>

    </div>
    <div class="col-sm-6">
        <p class="help-block"><small>Всички лични данни събирани в сайтът на Списание Страница могат да бъдат изтеглени и прегледани в <a href="http://www.google.com/search?q=json" target="_blank">машинно четим формат (JSON)</a>.</small></p>
        <p class="help-block"><small>Страница не събира лична информация, различна от тази, която ни предоставяте. Във всеки един момент информацията, която пазим за Вас може да бъде прегледана и (виж по-долу) изтрита.</small></p>
        <p class="help-block"><small>Изтриването на информация, задължителна за Вашата автентикация в системата ще доведе до <b>изтриване на потребителят Ви от системата</b>.</small></p>
        <p class="help-block"><small><b>Внимание! Ако изтриете потребителят си от системата, няма да можете да влизате в сайта и всяка асоциирана с Вас информация ще бъде изтрита!</b></small></p>



    </div>
</div>

@section scripts {
    <partial name="_ValidationScripts" />
}