@model dynamic

@{
    Layout = "~/Views/Shared/Emails/_LayoutEmail.cshtml";
    ViewData["Title"] = "Потвърди";
}

<p>
    <strong>Здравейте, @Model.Names,</strong>
</p>

<p>
    благодарим Ви за регистрацията в Страница. За да активирате профила, последвайте тази връзка:
</p>

@await Html.PartialAsync("~/Views/Shared/Emails/_EmailButton.cshtml",
    new { Text = "Потвърди", Url = Model.ButtonLink })

<p>С уважение,<br>екипът на Списание Страница</p>

@section footer {
    Списание Страница
    може да бъде
    разгледано,
    поръчано
    и закупено
    във всички книжарници
    от веригата на ИК „Хермес“,
    както и в книжарниците
    „Български книжици“ —
    София,
    „Нисим“ — София,
    „Хеликон“ — Пловдив,
    „Магистър“ — ВТУ „Св. св. Кирил
    и Методий“, Велико Търново;
    „Златев“ — Габрово.
}