@model dynamic

@{
    Layout = "~/Views/Shared/Emails/_LayoutEmail.cshtml";
    ViewData["Title"] = "Възстанови";
}

<p>
    <strong>Здравейте,</strong>
</p>

<p>
    до нас постъпи заявка от IP адрес @Model.Ip за възстановяване на парола на потребител регистриран с този email адрес.
</p>

<p>
    За да завършите процеса по възстановяване и да смените паролата си, последвайте тази връзка:
</p>

@await Html.PartialAsync("~/Views/Shared/Emails/_EmailButton.cshtml",
    new { Text = "Възстанови", Url = Model.ButtonLink })

<p>Ако този email не е свързан с Ваш потребител или не разпознавате IP адреса на изпращача, моля, <a href="mailto:@StranitzaConstants.AdministratorEmail" target="_blank">подайте сигнал до администратора на системата</a> и игнорирайте този email.</p>

<p>&nbsp;</p>

<p>С уважение,<br>екипът на Списание Страница</p>

@section footer {
    Списание Страница
    може да бъде
    разгледано,
    поръчано
    и закупено
    във всички книжарници
    от веригата на ИК „Хермес“,
    както и в книжарниците
    „Български книжици“ —
    София,
    „Нисим“ — София,
    „Хеликон“ — Пловдив,
    „Магистър“ — ВТУ „Св. св. Кирил
    и Методий“, Велико Търново;
    „Златев“ — Габрово.
}