@model dynamic

@{
    Layout = "~/Views/Shared/Emails/_LayoutEmail.cshtml";
    ViewData["Title"] = "Тест";
}

<h2 style="padding-bottom: 20px">О неразумни</h2>

<p>
    Внимавайте вие, читатели и слушатели, роде български, които обичате и вземате присърце своя род и своето българско отечество и желаете да разберете и знаете известното за своя български род и за вашите бащи, прадеди и царе, патриарси и светии как изпърво са живели и прекарвали. За вас е потребно и полезно да знаете известното за делата на вашите бащи, както знаят всички други племена и народи своя род и език, имат история и всеки грамотен от тях знае, разказва и се гордее със своя род и език.
</p>

@await Html.PartialAsync("~/Views/Shared/Emails/_EmailButton.cshtml", 
    new { Text = "Списание Страница", Url = Model.ButtonLink })

<p>С уважение,<br>екипът на Списание Страница</p>

@section footer {
    Списание Страница
    може да бъде
    разгледано,
    поръчано
    и закупено
    във всички книжарници
    от веригата на ИК „Хермес“,
    както и в книжарниците
    „Български книжици“ —
    София,
    „Нисим“ — София,
    „Хеликон“ — Пловдив,
    „Магистър“ — ВТУ „Св. св. Кирил
    и Методий“, Велико Търново;
    „Златев“ — Габрово.
}

