@{
    ViewData["Title"] = "Бисквитки";
}

@section breadcrumb {
    <a asp-controller="Home" asp-action="Cookies">Бисквитки</a>
}

<div class="blog-main col-md-8">
    <h2 id="whatarecookies">Какво представляват бисквитките?</h2>

    <p>Бисквитките са малки текстови файлове, които се запазват на вашия компютър или мобилно устройство, когато посещавате даден уебсайт.</p>

    <ul>
        <li><strong>Собствените бисквитки</strong> са бисквитки, използвани от уебсайта, който посещавате. Само този уебсайт може да ги прочете. Освен това даден уебсайт може евентуално да използва външни услуги, за които се използват отделни бисквитки, наричани <strong>бисквитки на трети страни</strong>.</li>
        <li>Постоянните бисквитки се запазват на вашия компютър и не се изтриват автоматично, когато затворите браузъра си, за разлика от сесийните бисквитки, които се изтриват, когато затворите браузъра.</li>
    </ul>

    <p>Целта е уебсайтовете да могат да запомнят вашите предпочитания (като например потребителско име, език и др.) за определен период от време.</p>

    <p>Така няма да ви се налага да ги въвеждате отново, когато разглеждате сайта по време на една и съща сесия.</p>

    <p><strong>Никога</strong>, когато посещавате уебсайтът, няма да бъдете запитван, дали сте съгласни с използването на бисквитките на сайта, <strong>защото Списание Страница не използва бисквитки</strong>, за които се изисква съгласие.</p>

    <h2 id="howdoweusecookies">По какъв начин използваме бисквитките?</h2>

    <p>Уебсайтовете на Списание Страница използват предимно собствени бисквитки. Това са бисквитки, поставени и контролирани от Списание Страница, а не от външни организации.</p>

    <p>За да можете да се възползвате от услугите и ресурсите на външни организации, ще трябва да приемете бисквитки и спазвате условията им.</p>

    <p><strong>Двата вида собствени бисквитки</strong>, които използваме, са за:</p>

    <ul>
        <li>осигуряване на автентичността на вашите данни;</li>
        <li>осигуряване на функционирането на нашите уебсайтове;</li>
    </ul>

    <p>Списание Страница <strong>не използва бисквитки, които събират аналитични данни</strong> (относно поведението на потребителите) и <strong>не споделя собствени бисквитки с трети страни</strong>.</p>

    <p><strong>Оперативни бисквитки</strong></p>

    <p>Има някои бисквитки, които трябва да включим, за да може определени уеб страници да функционират. За тях не се изисква вашето съгласие. Става въпрос по-конкретно за:</p>

    <ul>
        <li><strong>бисквитки за автентификация;</strong></li>
        <li><strong>технически бисквитки</strong>, изисквани от определени компютърни системи.</li>
    </ul>

    <p>&nbsp;</p>

    <p><strong>Бисквитки за автентификация</strong></p>

    <p>Те се запазват, когато влизате в профила си в сайта на Списание Страница чрез нашата услуга за автентификация (Вход). Когато правите това, вие приемате съответната ни <a class="underlined" asp-controller="Home" asp-action="Privacy">политика за поверителност</a>.</p>

    <ul>
        <li><strong>.netCore.stranitza.identity</strong> - е собствена бисквитка, която се използва за установяване на Вашата самоличност. Продължителността ѝ варира спрямо това, дали сте отбелязали, че искате да бъдете „Запомнен“ при вход.</li>
        <li><strong>.netCore.stranitza.identity.external</strong> - е споделена бисквитка, която се използва за установяване на свързан профил с външен източник (Google, Facebook, Twitter и т.н.). Тя ще бъде изтрита, след като процеса по регистрация е завършен и сесията изтече.</li>
    </ul>

    <p>Наименованията на бисквитките могат да се променят по технически причини.</p>

    <p>&nbsp;</p>

    <p><strong>Технически бисквитки</strong></p>

    <ul>
        <li><strong>.netCore.stranitza.antiForgery</strong> - е собствена бисквитка, която се използва за установяване на автентичността на данните, които изпращате до нас. Тя Ви дава сигурност, че никой не е променял данните и че Вие сте оригиналният им автор.</li>
        <li><strong>.netCore.stranitza.tempData</strong> - е собствена бисквитка, която се използва за показване на съобщения при извършване на някои действия в приложението.</li>
    </ul>

    <p>&nbsp;</p>

    <p>Списание Страница <strong>не използва бисквитки, които събират аналитични данни</strong> (относно поведението на потребителите) и <strong>не споделя собствени бисквитки с трети страни</strong>.</p>

    <h2 id="thirdpartycookies">Бисквитки на трети страни</h2>

    <p>На някои от нашите страници се показва съдържание от външни доставчици, като например YouTube, Facebook и Twitter.</p>

    <p>За да видите това съдържание, най-напред трябва да приемете техните правила и условия. Част от тях са техните политики за бисквитките, върху които нямаме контрол.</p>

    <p>Ако не разгледате въпросното съдържание, на вашето устройство няма да се инсталират бисквитки на трети страни.</p>

    <p><strong>Външни доставчици на уебсайт Списание Страница</strong></p>

    <p>
        <a href="https://www.youtube.com/t/terms">You Tube</a><br>
        <a href="https://www.google.com/intl/en_be/help/terms_maps/">Google Maps</a><br>
        <a href="https://twitter.com/en/tos?wcmmode=disabled#intlTerms">Twitter</a><br>
        <a href="https://www.microsoft.com/en/servicesagreement/">Microsoft</a><br>
        <a href="https://www.facebook.com/legal/terms">Facebook</a><br>
        <a href="https://policies.google.com/terms?hl=en&amp;gl=be">Google</a><br>
        <a href="https://www.linkedin.com/legal/user-agreement">LinkedIn</a><br>
    </p>
    <p>
        и други
    </p>

    <p>Тези услуги на трети страни са извън контрола на Списание Страница. Доставчиците могат по всяко време да променят условията за ползване на тяхната услуга, целта и употребата на бисквитки и др.</p>

    <h2 id="howcanyoumanagecookies">Как можете да управлявате бисквитките?</h2>

    <p>Можете да <strong>управлявате/изтривате</strong> бисквитки, според предпочитанията си – за подробности вижте <a href="https://www.aboutcookies.org/">aboutcookies.org</a>.</p>

    <p><strong>Премахване на бисквитки от вашето устройство</strong></p>

    <p>Можете да изтриете всички бисквитки на вашето устройство, като изчистите историята на сърфирането във вашия браузър. Това ще премахне всички бисквитки от всички уебсайтове, които сте посетили.</p>

    <p>Имайте предвид обаче, че може също да изгубите съхранена информация (напр. данни за влизане в профили, предпочитания за сайтове и др.).</p>

    <p><strong>Управление на бисквитки на определен сайт</strong></p>

    <p>За по-прецизен контрол върху бисквитките на даден сайт, проверете настройките за поверителност и бисквитки в предпочитания от вас браузър.</p>

    <p><strong>Блокиране на бисквитки</strong></p>

    <p>Можете да настроите повечето съвременни браузъри да не позволяват поставянето на бисквитки на вашето устройство, но след това може да ви се наложи ръчно да настройвате някои параметри всеки път, когато посещавате даден сайт или страница. Възможно е също някои услуги и функции изобщо да не работят (напр. влизане в профил).</p>

</div>

<aside class="col-md-4 blog-aside">
    <div class="aside-widget">
        <header>
            <h3>Съдържание</h3>
        </header>

        <div class="body">
            <ul class="tales-list">
                <li><a href="#whatarecookies">Какво представляват бисквитките?</a></li>
                <li><a href="#howdoweusecookies">По какъв начин използваме бисквитките?</a></li>
                <li><a href="#thirdpartycookies">Бисквитки на трети страни</a></li>
                <li><a href="#howcanyoumanagecookies">Как можете да управлявате бисквитките?</a></li>
            </ul>
        </div>
    </div>

    <div class="aside-widget">
        <header>
            <h3>Още</h3>
        </header>

        <div class="body">
            <ul class="tales-list">
                <li><a asp-controller="Home" asp-action="TaC">Общите правила на сайта</a></li>
                <li><a asp-controller="Home" asp-action="Privacy">Политиката за поверителност</a></li>
                <li><a asp-controller="Home" asp-action="Help">Секция с помощ</a></li>
                <li><a asp-controller="Home" asp-action="FAQ">Често задавани въпроси</a></li>
                <li><a asp-controller="Home" asp-action="About">Относно Списание Страница</a></li>
            </ul>
        </div>
    </div>
</aside>