@page
@model ForgotPasswordConfirmation

@{
    ViewData["Title"] = "Забравена парола";
}

@section breadcrumb {
    <a asp-area="Identity" asp-page="/Account/Login">Вход</a>
    <span class="separator">/</span>
    <a asp-area="Identity" asp-page="/Account/ForgotPassword">Забравена парола</a>
    <span class="separator">/</span>
    <span>Изпратено потвърждение</span>
}

<div class="col-sm-12">
    <h2>Писмото беше изпратено успешно</h2>
    <p>Моля, проверете въведения email адрес за писмо, съдържащо връзка за възстановяване на паролата Ви.</p>
</div>

@section scripts {
    <script>
        $(document).ready(function() {
            $(".container.main").removeClass("main").addClass("about");
        });
    </script>
}