@page
@model ForgotPasswordModel

@{
    ViewData["Title"] = "Забравена парола";
}

@section breadcrumb {
    <a asp-area="Identity" asp-page="/Account/Login">Вход</a>
    <span class="separator">/</span>
    <a asp-area="Identity" asp-page="/Account/ForgotPassword">Забравена парола</a>
}

<div class="col-sm-12 col-md-12">
    <h2>Забравена парола?</h2>
</div>

<div class="col-sm-12 col-md-4">
    <h4>Моля, въведете email адреса, който сте използвали при регистрация, за да Ви изпратим връзка за възстановяване.</h4>

    <hr />

    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group" str-validation-for="Input.Email" str-error-class="has-error">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control"/>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-tales-two">Изпрати</button>
    </form>
</div>

<div class="col-md-6 col-lg-6 col-lg-offset-2">
    @await Html.PartialAsync("_LoginProviders", Model.LoginProviders)
</div>

@section Scripts {
    <partial name="_ValidationScripts" />
}