@page
@model LoginModel

@{
    ViewData["Title"] = "Вход";
}

@section breadcrumb {
    <a asp-area="Identity" asp-page="/Account/Login">Вход</a>
}

<div class="col-sm-12">
    <h2>@ViewData["Title"]</h2>
</div>

<div class="col-lg-4 col-md-6">
    <section>
        <form method="post">
            <h4>Използвайте псевдоним или email от регистрационните Ви данни за вход.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group" str-validation-for="Input.UserName" str-error-class="has-error">
                <label asp-for="Input.UserName"></label>
                <input asp-for="Input.UserName" class="form-control" autocomplete="username" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-group" str-validation-for="Input.Password" str-error-class="has-error">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group" str-validation-for="Input.RememberMe" str-error-class="has-error">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-tales-two">Вход</button>
            </div>
            <div class="form-group">
                <p>
                    <a class="underlined" asp-page="./ForgotPassword">Забравена парола?</a>
                </p>
                <p>
                    <a class="underlined" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Регистрация на нов потребител</a>
                </p>
            </div>
        </form>
    </section>
</div>

<div class="col-md-6 col-lg-6 col-lg-offset-2">
    @await Html.PartialAsync("_LoginProviders", Model.LoginProviders)
</div>

@section Scripts {
    <partial name="_ValidationScripts" />
}
