@page
@model LogoutModel
@{
    ViewData["Title"] = "Изход";
}

<div class="col-sm-12">
    <h1>Изход</h1>
    <p>Успешно излязохте от приложението.</p>
</div>

@section scripts {
    <script>
        $(document).ready(function() {
            $(".container.main").removeClass("main").addClass("about");
        });
    </script>
}