@page
@model ResetPasswordModel

@{
    ViewData["Title"] = "Възстановяване на парола";
}

@section breadcrumb {
    <a asp-area="Identity" asp-page="/Account/Login">Вход</a>
    <span class="separator">/</span>
    <a asp-area="Identity" asp-page="/Account/ForgotPassword">Забравена парола</a>
    <span class="separator">/</span>
    <span>Възстановяване на парола</span>
}

<div class="col-sm-12">

    <h2>Възстановяване на парола</h2>
    <h4>До нас постъпи заявка за възстановяване на акаунт. Моля, въведете email адресът, който сте използвали за регистрация и новата Ви парола.</h4>

    <hr/>
</div>

<div class="col-md-4">
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Input.Code" type="hidden" />
        <div class="form-group"  str-validation-for="Input.Email" str-error-class="has-error">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group"  str-validation-for="Input.Password" str-error-class="has-error">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group"  str-validation-for="Input.ConfirmPassword" str-error-class="has-error">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-danger">Възстанови</button>

    </form>
</div>

@section Scripts {
    <partial name="_ValidationScripts" />
}
