@model UserDetailsViewModel

@{
    ViewData["Title"] = "Преглед на потребителски профил";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section breadcrumb {

    <span>Потребители</span>

    <span class="separator">/</span>

    <span>@Model.DisplayNameOnly</span>
}

<div class="col-md-8 blog-main">

    <h2>Преглед на потребителски профил</h2>

    <div class="row credits">

        @await Html.PartialAsync("_User", Model)

    </div>

</div>

<aside class="col-md-4 blog-aside">



</aside>
