@model UserDetailsViewModel

@{
    ViewData["Title"] = "Преглед на потребителски профил";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Преглед на потребителски профил</h1>

<div class="row credits">

    @await Html.PartialAsync("_User", Model)

</div>

