@model AdminViewModel

@{
    ViewData["Title"] = "Потребители";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section breadcrumb {
    <a href="@Url.Action("Index", "Users")">Потребители</a>
}

<div class="col-md-8 blog-main">

    @foreach (var user in Model.Records)
    {
        <div class="row credits">
            @await Html.PartialAsync("_User", user)
        </div>
    }

    @await Html.PartialAsync("_Paging", Model, new ViewDataDictionary(ViewData)
    {
        { "Next", "Напред" }, { "Previous", "Назад" }
    })

</div>

<aside class="col-md-4 blog-aside">
    
    <div class="aside-widget">
        <header>
            <h3>Филтър</h3>
        </header>
        <div class="body clearfix">
            <div class="tales-superblock" id="contact">
                    
                <form action="#" method="get" accept-charset="utf-8" class="contact-form">
                    <input type="text" name="name" id="contact-name" placeholder="Имена" class="form-control">
                    <input type="text" name="username" id="contact-username" placeholder="Псевдоним" class="form-control">
                    <input type="email" name="email" id="contact-email" placeholder="Email" class="form-control">
                    <textarea rows="5" name="message" id="contact-body" placeholder="Описание..." class="form-control"></textarea>
                    
                    <div class="buttons clearfix">
                        <button type="submit" class="btn btn-xlarge btn-tales-one">Търси</button>
                    </div>                    
                </form>
            </div>
        </div>
    </div>


</aside>