@model ICollection<SourceDetailsViewModel>

<div class="aside-widget">
    <header>
        <h3>Съществуващи източници</h3>
    </header>
    <div class="body">

        <ul class="tales-list">
            @if (Model != null && Model.Any())
            {
                @foreach (var source in Model)
                {
                    <li>
                        <a href="@Url.Action("Details", "Sources", new {id = source.Id})" target="_blank">
                            @source.Title<br>
                            @source.Origin<br>
                            стр. @source.Pages
                        </a>
                    </li>
                }
            }
            else
            {
                <li>
                    <span>Няма намерени източници</span>
                </li>
            }
        </ul>

        <a id="refresh-existing-sources" class="pt20 pull-right" href="#">Опресни</a>
    </div>
</div>